* {
  box-sizing: border-box;
}

html {
  background-color: #536878;
}

body {
  font-size: 1.2em;
  color: #EEE;
  font-family: "Droid Serif", "Georgia", serif;
  max-width: 42em;
  margin: auto;
}

i, em {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

a {
  color: #FFF;
}

code {
  font-family: "Droid Sans Mono", monospace;
  font-size: .9em;
  display: inline-block;
}

header, footer {
  font-family: "Droid Sans Mono", monospace;
  padding: 1em;
}

header a, footer a {
  color: #FFF;
}

#title {
  font-size: 3em;
}

#title a {
  text-decoration: none;
}

#content {
  padding: 1em;
}

#blog-posts {
  font-size: 1.5em;
  line-height: 1.4em;
}

#blog-posts a:visited {
  color: #CCC;
}

#blog-posts span {
  margin-right: 1em;
  color: #999;
}

#post-heading {
  margin-bottom: .3em;
}

#post-heading h1 {
  font-size: 1.8em;
  margin-bottom: .3em;
}

#post-heading h2 {
  font-size: 1.4em;
  color: #AAA;
  margin-bottom: .8em;
}

#post-content p {
  font-size: 1.1em;
  line-height: 1.5em;
  margin-bottom: .8em;
}

#post-content h2 {
  font-size: 1.4em;
  margin-top: 1.2em;
  margin-bottom: .6em;
}

#post-content .post-image {
  text-align: center;
}

#post-content .post-image img {
  border: 2px solid #EEE;
  max-width: 100%;
}

#back {
  font-size: 1.2em;
}

footer div {
  float: left;
  margin-left: 1em;
  position: absolute;
  bottom: 1em;
}

footer ul {
  text-align: right;
  font-size: 1.1em;
}

footer ul li {
  display: inline-block;
}

@media screen and (max-width: 700px) {
  #title {
    font-size: 2em;
  }

  #blog-posts {
    font-size: 1.2em;
  }

  #post-heading h1 {
    font-size: 1.6em;
  }

  #post-heading h2 {
    font-size: 1.3em;
  }

  #post-content p {
    font-size: 1em;
  }

  #post-content h2 {
    font-size: 1.2em;
  }

  footer ul {
    font-size: 1em;
  }
}
