<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="author" content="Artur Ostrega" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% if page.title %}
  <title>{{ page.title }} &bull; artur_ostrega.write</title>
  {% else %}
  <title>artur_ostrega.write</title>
  {% endif %}
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/railscasts.css" />
  <link rel="stylesheet" href="/css/misc.css" />
</head>
<body>
  <header>
    <h1 id="title"><a href="/">artur_ostrega.write</a></h1>
  </header>

  <div id="content">
    {{ content }}
  </div>

  <footer>
    <ul>
      <li><a href="http://feeds.feedburner.com/ArturOstrega">Feed</a></li>
      <li><a href="mailto:artur@ostrega.me">Email</a></li>
      <li><a href="https://github.com/aost">GitHub</a></li>
    </ul>
  </footer>
</body>
</html>
