<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} &bull; Artur Ostrega</title>
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <header>
    <h1><a href="/">Artur Ostrega</a></h1>
  </header>

  <div id="content">
    {{ content }}
  </div>

  <footer>
    <div>
      <p>&ldquo;Life is life and fun is fun, but it's all so quiet when the goldfish die.&rdquo;</p>
      <p>&mdash;Beryl Markham</p>
    </div>
    <ul>
      <li><a href="https://github.com/skofo">GitHub</a></li>
      <li><a href="https://plus.google.com/117463663579273930934">Google+</a></li>
      <li><a href="mailto:artur@ostrega.me">Email</a></li>
    </ul>
  </footer>
</body>
</html>
