<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="author" content="Artur Ostrega" />
  {% if page.title %}
  <title>{{ page.title }} &bull; Artur Ostrega</title>
  {% else %}
  <title>Artur Ostrega</title>
  {% endif %}
  <link href='http://fonts.googleapis.com/css?family=Ovo|Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <header>
    <h1><a href="/">Artur Ostrega</a></h1>
  </header>

  <div id="content">
    {{ content }}
  </div>

  <footer>
    <div>
      <p>&ldquo;Life is life and fun is fun, but it's all so quiet when the goldfish die.&rdquo;</p>
      <p>&mdash;Beryl Markham</p>
    </div>
    <ul>
      <li><a href="mailto:artur@ostrega.me">Email</a></li>
      <li><a href="https://twitter.com/skof0">Twitter</a></li>
      <li><a href="https://github.com/skofo">GitHub</a></li>
    </ul>
  </footer>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35561502-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
